* {
    font-family: 'Lucida Sans';
}

a {
    text-decoration: none;
}

body {
    background-color: #bbbbbb;
    margin: 0;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul li {
    float: left;
    min-width: 50px;
}

ul li a {
    color: #bbbbbb;
    display: block;
    text-align: center;
    padding: 14px 16px;
}

li:hover {
    background-color: #bbbbbb;
}
li a:hover {
    color: #333;
}

li.left {
    float: "left";
}

li.right {
    float: right;
}

.content {
    padding: 80px;
}

h1 {
    margin-bottom: 0px;
    font-size: 72px;
    color: #333;
}

h2 {
    margin-top: 0px;
    margin-bottom: 60px;
    color: #333;
}

input {
    width: 40%;
    margin: 8px 0;
    padding: 14px 16px;
    font-size: 32px;
    border: 1px solid #333;
    

}
a.button {
    display: inline-block;
    background: #333;
    border: none;
    padding: 14px 16px;
    font-size: 32px;
    color: #bbbbbb;
}

a.button:hover {
    animation: fadeColors 0.5s;
    background-color: #bbbbbb; 
    color: #333;
    cursor: pointer;
}

@keyframes fadeColors {
    from {
            background-color: #333;
            color: #bbbbbb;    
        } 
    to  { 
            background-color: #bbbbbb; 
            color: #333;
        } 
}

